/* Shared hero gradient colors */
:root {
    --paperbeam-primary: #13b38e;
    --paperbeam-secondary: #ee9bdd;
    --vp-home-hero-image-background-image: linear-gradient(120deg, var(--paperbeam-primary) 0%, #e330bf 100%);
    --vp-home-hero-image-filter: blur(44px);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #13b38e 30%, #e330bf);

    --vp-button-brand-bg: var(--paperbeam-primary);
    --vp-button-brand-hover-border: var(--paperbeam-primary);
    --vp-button-brand-hover-text: #ffffff;
    --vp-button-brand-hover-bg: var(--paperbeam-primary);

    --vp-button-alt-hover-border: var(--paperbeam-secondary);
    --vp-button-alt-hover-bg: var(--paperbeam-secondary);


}

